@font-face {
  font-family: "AkkuratPro-Regular";
  src: url("./fonts/AkkRgPro1.eot"); /* IE9 Compat Modes */
  src: url("./fonts/AkkRgPro1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/AkkRgPro1.otf") format("opentype"), /* Open Type Font */
    url("./fonts/AkkRgPro1.svg") format("svg"), /* Legacy iOS */
    url("./fonts/AkkRgPro1.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/AkkRgPro1.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AkkRgPro1.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NoeText-Book";
  src: url("./fonts/noe-text-book-2.eot"); /* IE9 Compat Modes */
  src: url("./fonts/noe-text-book-2.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    /*url("./fonts/noe-text-book-2.otf") format("opentype"),*/ /* Open Type Font */
    url("./fonts/noe-text-book-2.svg") format("svg"); /* Legacy iOS */
    /*url("./fonts/noe-text-book-2.ttf") format("truetype"),*/ /* Safari, Android, iOS */
    /*url("./fonts/noe-text-book-2.woff") format("woff"),*/ /* Modern Browsers */
    /*url("./fonts/noe-text-book-2.woff2") format("woff2");*/ /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "AkkuratPro-Regular";
	font-weight: 400;
	color: #312f2f;
	font-size: 14px;
	line-height: 30px;
	width: 100%;
	position: relative;
}
*:focus{
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #312f2f;
	line-height: 1;
	font-family: "NoeText-Book";
}
.product-layout.product-grid.col-md-3.col-sm-6.col-xs-6.four-items{
    width: 33.33333333%;
}
p{
     text-align:justify;
}
.home{
    margin:0 0 80px;
    font-size:16px;
    text-align:justify;
}
.home h1 {
  margin: 35px 0 40px;
  position: relative;
  font-size:58px;
}
.home h1::after {
      content: '';
    position: absolute;
    left: 43%;
    display: inline-block;
    height: 1em;
    width: 14%;
    border-bottom: 1px solid;
    margin-top: 5px;
    right: 0%;
}
h2.category-name{
     margin-bottom: 0px;
  position: relative;
  text-align:center;
  margin-top: 50px;
}
h2.category-name::after {
      content: '';
    position: absolute;
    left: 45%;
    display: inline-block;
    height: 1em;
    width: 10%;
    border-bottom: 1px solid;
    margin-top: 10px;
    right: 0%;
}
#compare-total{
    display:none;
}
#cmsblock-34{
    margin:0px 0 50px;
}
.footer-logo{
    text-align:center;
    padding:30px 0;
}
.footer-logo img{
    text-align:center;
    display:inline-block;
    margin-bottom:15px;
}
.footer-logo i{
    font-size:20px;
    margin:0 5px;
}
.middle-footer a {
    font-size:13px;
    line-height:20px;
}
.container.layer-category,.wrapper .container {
   * border-top: 1px solid #bcbcbc;
}
#content{
    *margin-top:50px;
}
footer .wrapper .container{
    * border-top: 0px solid #bcbcbc;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
font-size: 45px;
    font-family: "NoeText-Book";
    font-weight: 900;
    text-align:center;
    margin-bottom: 25px;
  position: relative;
}
h1::after {
      content: '';
    position: absolute;
    left: 45%;
    display: inline-block;
    height: 1em;
    width: 10%;
    border-bottom: 1px solid;
    margin-top: 5px;
    right: 0%;
}
h1.product-name{
    text-align:left;
    margin-top: 30px !important;
}
h1.product-name::after {
      content: '';
    position: absolute;
    left: 0%;
    display: inline-block;
    height: 1em;
    width: 30%;
    border-bottom: 1px solid;
    margin-top: 5px;
    right: 0%;
}
h2 {
	font-size: 30px;
	font-family: "NoeText-Book";
	font-weight: 900;
}
h3 {
	font-size: 26px;
	font-family: "NoeText-Book";
	font-weight: 900;
}
h4 {
	font-size: 15px;
	font-family: "NoeText-Book";
}
h5 {
	font-size: 12px;
	font-family: "NoeText-Book";
	font-weight: 900;
}
h6 {
	font-size: 10.2px;
	font-family: "NoeText-Book";
	font-weight: 900;
}
a {
	color: #312f2f;
	cursor: pointer;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #000 !important;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 15px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
img{
	max-width: 100%; 
	height: auto;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.flip{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
}
.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* tooltip */
.tooltip.top .tooltip-arrow {
  border-top-color: #312f2f;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #312f2f;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #312f2f;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #312f2f;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #312f2f;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #312f2f;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #312f2f;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #312f2f;
}
.tooltip-inner{
	background: #312f2f;
}
.alert{
	text-align: center;
	font-size: 13px;
	margin: 0;
	border-radius: 0;
	border: none;
}
/* transition */
.product-thumb .image .img-r:hover,
#instagram_block_home  .fancybox:hover::before,
#instagram_block_home  .fancybox:hover i,
.product-layout:hover .actions-link2, #instagram_block_home  .fancybox  img:hover,
a:hover, #search.search-container, .fcategory-content .content-thumb:hover .fcategory-name,
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	transition: ease-in-out all .3s;
}
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	background-color: #312f2f !important;
	border-color: #312f2f;
	color: #fff !important;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	border: 1px solid #c2c2c2;
	background: none !important;
	padding: 0px 20px;
	text-transform: capitalize;
	font-size: 15px;
	color: #222222 !important;
	height: 40px;
	font-weight: 300;
	line-height: 40px;
	display: inline-block;
	border-radius: 0px;
}
#button-voucher,
#button-coupon{
	height: 34px;
	line-height: 34px;
	margin-left: 10px;
	border-radius: 20px;
}
#button-search + h2{
	display: none;
}
#button-search{
	margin: 15px 0;
}
#modal-agree{
	z-index: 9999;
}
/* newsletter popup */
.b-close{
	display: block;
}
.newletter-popup{
	background: #fff;
	top: 50% !important;
	margin-top: -179px;
	position: fixed !important;
	padding: 50px 20px;
	text-align: center;
	display: none;
}
#boxes .newletter-title h2{
	font-size: 36px;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	letter-spacing: 3px;
	margin: 0 0 20px;
}
#boxes .box-content label{
	font-weight: 400;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes  #frm_subscribe a{
	cursor: pointer;
}
#boxes  #frm_subscribe #subscribe_pemail{
	background: #EBEBEB none repeat scroll 0% 0%;
	border: medium none;
	height: 40px;
	width: 50%;
	margin: 20px 0;
	padding: 0 15px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom  label{
	margin: 0;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
}
#boxes  #frm_subscribe #notification{
	color: #f00;
}
#boxes  #frm_subscribe #notification .success{
	color: #67D7BB;
}
#popup2{
	position: absolute;
	right: -12px;
	top: -12px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
}
/* newsllter */
.newletter-subscribe{
	
}
#boxes-normal{
	border-bottom: 1px solid rgba(255,255,255,.07);
	padding: 70px 15px 60px;
}
.newletter-title.module-title h2{
	font-size: 24px;
	color: #fff;
	margin-top: 0;
}
#boxes-normal .box-content .des-testimonial{
	width: 80%;
	margin: 0 auto;
}
#boxes-normal .box-content label{
	display: none;
}
#boxes-normal #frm_subscribe-normal #subscribe-normal span{
	display: none;
}
#boxes-normal  #dialog-normal{
	position: relative;
}
#frm_subscribe-normal{
	width: 60%;
	margin: 0 auto;
}
#subscribe_email-normal{
	border: none;
	height: 43px;
	width: 100%;
	background: #181818;
	color: #3d3d3d;
	font-family: Droid Serif, sans-serif;
	font-style: italic;
	padding-left: 20px;
	text-transform: capitalize;
	padding-right: 50px;
}
#subscribe_email-normal::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3d3d3d;
}
#subscribe_email-normal::-moz-placeholder { /* Firefox 19+ */
  color: #3d3d3d3d3d3d;
}
#subscribe_email-normal:-ms-input-placeholder { /* IE 10+ */
  color: #3d3d3d;
}
#subscribe_email-normal:-moz-placeholder { /* Firefox 18- */
  color: #3d3d3d;
}
#boxes-normal #frm_subscribe-normal #subscribe-normal a:hover{
	background-position: bottom right;
	color: #312f2f;
}
#boxes-normal #frm_subscribe-normal #subscribe-normal a{
	float: right;
	line-height: 1;
	font-size: 20px;
	display: inline-block;
	margin-top: -32px;
	margin-right: 20px;
}
#boxes-normal #frm_subscribe-normal #subscribe-normal a i{
	color: #cacaca;
	font-size: 20px;
	line-height: 1;
	top: 0;
}
#notification-normal{
	position: absolute;
	bottom: -40px;
	width: 100%;
	text-align: center;
}
#notification-normal div{
	color: #fff;
}
.wrapper{
	padding: 0 30px;
	clear: both;
}
#top{
	background: #222222;	
	padding: 0 30px;
	float: left;
	width: 100%;
}
#top .text-freeship{
	color: #312f2f;
	margin: 0;
	font-size: 13px;
	display: inline;
	padding: 13px 0;
}
#top .text-phone span{
	border-right: 1px solid #4e4e4e;
	padding-right: 25px;
}
#top .text-phone{
	color: #312f2f;
	padding: 11px 0;
	margin-right: 25px;
	display: inline-block;
}
#top .text-phone i{
	position: relative;
	top: 4px;
	margin-right: 5px;
}
#top > .pull-left{
	color: #312f2f;
}
#top-links{
	float: right;
}
#top > .list-unstyled > li .dropdown-menu li a,
#top > .list-unstyled > li .dropdown-menu li button{
	text-align: center;
	padding: 5px 10px;
	display: block;
	color: #312f2f;
}
#top > .list-unstyled > li .dropdown-menu{
	border-radius: 0;
	margin: 0;
	right: 0;
	left: auto;
	border: none;
	padding: 0;
}
#top > .list-unstyled  > li{
	float: right;
}
#top > .list-unstyled > li:first-child{
	padding-right: 0;
}
#top > .list-unstyled > li:first-child button > i{
	border-right:  none;
	padding: 0;
}
#top > .list-unstyled > li button[aria-expanded^="true"] > i,
#top > .list-unstyled > li button:hover > i{
	border-color: transparent;
}
#top > .list-unstyled > li button > i{
	padding: 0 20px 0 0;
	border-right: 1px solid #4e4e4e;
}
#top > .list-unstyled > li button.active,
#top > .list-unstyled > li button:focus,
#top > .list-unstyled > li .dropdown-menu li a:hover,
#top > .list-unstyled > li button:hover{
	background: #333;
	text-decoration: none;
}
#top > .list-unstyled{
	margin: 0;
}
#top > .list-unstyled > li button{
	color: #312f2f;
	padding: 11px 0 11px 20px;
}
header{
	padding: 0 30px;
	float: left;
	width: 100%;
	position: relative;
}	
#logo {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.main-menu:not(.fix-header) > .container{
	width: 100%;
	padding: 0;
}
.main-menu{
	float: left;
}
.unvisible{
	display: none;
}
.fix-header{
	*position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: rgba(255,255,255,.95);
	box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
}
#cart{
	float: right;
    margin-right: 40px;
    margin-top: 4px;
}
#cart > button i{
	font-size: 25px;
	color: #222;
}
#cart > button span{
	font-family: "NoeText-Book";
font-size: 17px;
    font-weight: 100;
}
#cart > button span strong{
	font-family: "NoeText-Book";
font-size: 17px;
    font-weight: 100;
}
#cart > button{
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	padding: 40px 0;
}
#cart .dropdown-menu .text-empty{
	margin: 0;
	padding: 10px 0;
}
#cart .dropdown-menu {
    padding: 20px;
    min-width: 300px;
    border: none;
    margin: 0;
    border-radius: 0;
}
#cart .cart-empty{
	padding-bottom: 25px;
}
#cart .dropdown-menu p{ 
	margin: 0;
}
#cart .dropdown-menu > li:last-child{
	padding: 30px 0 25px;
	border-top: 1px solid #ededed;
}
#cart .dropdown-menu > li:first-child .table > tbody > tr > td{
	padding-top: 10px;
}
#cart .table > tbody > tr > td{
	border: none;
	padding: 0;
}
#cart .cart-close button{
	background: none;
	color: #666666;
	border: none;
	font-weight: 300;
	font-size: 18px;
}
#cart .cart-quantity{
	font-style: italic;
	color: #666666;
	font-weight: 300;
}
#cart .cart-name:hover{
	color: #3c74b9;
}
#cart .cart-name{
	color: #222;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
}
#cart .cart-price{
	font-size: 13px;
    color: #666;
    font-weight: 500;
}
#cart .cart-button{
}
#cart p.cart-button a:last-child{
	margin: 0;
}
#cart p.cart-button a{
	border: none;
	background: #ededed;
	color: #222222;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0 20px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	margin-right: 15px;
}
#cart p.cart-button a:hover{
    color: #fff;
    background: #323031;
}
#cart p.cart-button a:hover i{
	color: #fff;
}
#cart p.cart-button a i{
	padding-left: 5px;
	font-size: 10px;
	color: #434343;
}
#cart .dropdown-menu .info-item{
	padding-left: 10px;
}
#cart .dropdown-menu .has-scroll{
	max-height: 300px;
	overflow: auto
}
#cart .dropdown-menu tr td strong{
	color: #333333;
}
#cart .dropdown-menu li:last-child tr td:not(:last-child){
    color: #333333;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    text-align: left;
    line-height: 18px;
}
#cart .dropdown-menu tr td:last-child{
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.top-area {
    font-family: "NoeText-Book";
    position: absolute;
    font-size: 17px;
    color: #312f2f;
    z-index: 999;
        margin-left: 57%;
    margin-top: 3.2%;
}
.top-area a{
    color: #312f2f;
}
a.register{
    margin-right:30px;
}
.search-container{
float: right;
    padding: 41px 0;
    position: relative;
    z-index: 113;
    margin-right: -100px;
}
#search > i{
	color: #fff;
}
#search{
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	width: 250px;
	background: #333333;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.01)
}
.search-container i:hover{
	color: #312f2f !important
}
.search-container i.pe-7s-close{
	opacity: .8
}
.search-container i{
	font-size: 25px;
	color: #222;
	cursor: pointer;
	line-height: 24px;
}
#search > i{
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 3;
	line-height: 40px;
}
#search > input{
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0 0 0 10px;
	background: none;
	color: #fff;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-right: 50px;
}
#search > button:hover i,
#search > i:hover{
	color: #312f2f;
}
#search > button i{
	color: #fff;
}
#search > button{
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	font-size: 25px;
	position: absolute;
	top: 5px;
	right: 10px;
	line-height: 1;
	color: #fff;
	background: none !important;
	z-index: 2;
}
#search > button.expand-search2{
	opacity: 1;
	z-index: 4;
}
#search.expand-search > i:hover{
	color: #312f2f;
}
#search.expand-search > i{
	color: #fff
}
#search.expand-search > input{
	max-width: 250px;
	padding: 0 0 0 20px;
	background: #222;
	margin-top: -10px;
	color: #fff;
}
/* owl carousel */
.owl-carousel .owl-item{
	padding: 0 15px;
}
.owl-pagination .owl-page span:hover,
.owl-pagination .owl-page.active span{
	border-color: #312f2f;
	background: #312f2f
}
.owl-pagination{
	text-align: center;
}
.owl-pagination .owl-page:last-child{
	padding-right: 0;
}
.owl-pagination .owl-page{
	display: inline-block;
	padding-right: 11px;
}
.owl-pagination .owl-page span{
	width: 10px;
	height: 10px;
	border: 1px solid #d5d5d5;
	display: inline-block;
	border-radius: 100%;
}
.owl-buttons > .owl-prev{
	left: -10px;
}
.owl-buttons > .owl-next{
	right: -10px;
}
.owl-carousel:hover .owl-buttons > div{
	opacity: 1;
}
.owl-buttons > div:hover{
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}
.price {
    font-size: 16px;
    color: #000;
    margin: 0;
    font-weight: 900;
    text-align: center;
}
.owl-buttons > div{
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	background: #fff;
	line-height: 40px;
	margin-top: -20px;
	text-align: center;
	border-radius: 100%;
	opacity: 0;
	box-shadow: 1px 0 5px 1px rgba(0,0,0,.1)
}
/* featured category */
.featured-cat-thumb{
	margin-bottom: 30px;
}
.featured-cat-thumb .module-title{
	display: none;
}
.fcategory-content .content-thumb:hover .fcategory-name{
	opacity: 1;
}
.fcategory-content .content-thumb:not(:hover) img{
	filter: grayscale(1);
}
.fcategory-content .content-thumb .fcategory-name a:hover{
	color: #312f2f;
}
.fcategory-content .content-thumb .fcategory-name a{
	color: #333333;
	padding: 12px 30px;
	display: inline-block;
}
.fcategory-content .content-thumb .fcategory-name{
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: #fff;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.15);
	margin: 0;
	font-family: 'Lora', serif;
	font-size: 16px;
	color: #333333;
	text-transform: capitalize;	
	opacity: 0;
}
.fcategory-content .content-thumb{
	position: relative;
}
/* cms block */
.banner-1 a{
	text-decoration: underline;
	color: #fff;
}
.banner-1 p{
	margin: 0;
}
.banner-1{
	background: #25211e;
	font-size: 12px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	line-height: 26px;
	padding: 12px 0;
}
.banner-2{
	position: relative;
	margin: 0 -30px 95px;
	background: url('../image/banner2.jpg') center / cover;
	/* min-height: 470px; */
	text-align: center;
	padding: 100px 0;
}
.banner-2 .text-content{
	font-size: 16px;
	color: #fff;
	/* position: absolute; */
	/* top: 50%; */
	/* -webkit-transform: translateY(-50%); */
	/* -moz-transform: translateY(-50%); */
	/* -o-transform: translateY(-50%); */
	/* transform: translateY(-50%); */
	/* text-align: center; */
	/* left: 0; */
	/* right: 0; */
}
.banner-2 .text-content a:hover{
	background: rgba(189, 176, 147, .7)
}
.banner-2 .text-content a{
	border: 1px solid #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: #fff;
	margin: 0;
}
.banner-2 .text-content p{
	font-size: 112.5%;
	line-height: 28px;
	margin: 0 0 50px;
}
.banner-2 .text-content h1{
	font-size: 225%;
	letter-spacing: .06em;
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 35px;
}
.about-static  .text-content ul{
	margin: 0;
	padding: 0;
}
.about-static  .text-content ul li span{
	color: #fff;
}
.about-static  .text-content ul li{
	font-size: 15px;
	line-height: 24px;
	color: #999;
	list-style: none;
}
.about-static  .text-content p{
	margin: 30px 0;
	color: #999;
	line-height: 24px;
	font-size: 14px;
}
.footer-social-icons a:hover i{
	color: #312f2f;
}
.footer-social-icons a i{
	color: #555;
	font-size: 14px;
	margin-right: 15px;
}
.static-tags ul li{
	float: left;
	margin: 0 10px 10px 0;
}
.static-tags a:hover{
	background: #312f2f;
	color: #fff !important;
}
.static-tags a{
	background: #333333;
	padding: 0px 15px;
	display: block;
	line-height: 34px !important;
	letter-spacing: 0;
}
/* module title */
.module-title h3{
	font-size: 16px;
	font-weight: 300;
	color: #666666;
	line-height: 26px;
	margin: 0 0 40px 0
}
.module-title h2{
	font-size: 28px !important;
	font-weight: 900;
	color: #312f2f;
	line-height: 24px;
	margin: 0px 0 25px;
}
.module-title h2::after {
    content: '';
    position: absolute;
    left: 45%;
    display: inline-block;
    height: 1em;
    width: 10%;
    border-bottom: 1px solid;
    margin-top: 9px;
    right: 0%;
}
.module-title{
	text-align: center;
}
.module-title2::before{
	content: "";
	background: rgba(0,0,0,.1);
	height: 1px;
	top: 50%;
	margin-top: -1px;
	left: 0;
	right: 0;
	display: block;
	position: absolute;
	z-index: -1;
}
.module-title2{
	position: relative;
	margin-bottom: 35px;
}
.module-title2 h2{
	font-size: 18px;
	font-weight: 900;
	color: #222;
	text-transform: uppercase;
	letter-spacing: .06em;
	margin: 0;
	background: #fff;
	display: inline-block;
	padding-right: 20px;
}
/* layout1 */
.product-thumb .image.product-image,
.product-thumb .image{
	position: relative;
	display: block;
}
.product-layout:hover .image .img-r{
	opacity: 1;
}
.product-thumb .image .img-r{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.label-product{
	background:#312f2f;
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 5px 10px;
	z-index: 1;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 1;
}
.product-layout .ratings{
	margin-top: 10px;
	display: none;
}
.ratings div[class^='rating']{
	background: url('../image/rating0.png') no-repeat center left;
	font-size: 0;
}
.ratings .rating1{
	background: url('../image/rating1.png') no-repeat;
}
.ratings .rating2{
	background: url('../image/rating2.png') no-repeat;
}
.ratings .rating3{
	background: url('../image/rating3.png') no-repeat;
}
.ratings .rating3{
	background: url('../image/rating4.png') no-repeat;
}
.ratings .rating4{
	background: url('../image/rating5.png') no-repeat;
}
.ratings .rating5{
	background: url('../image/rating5.png') no-repeat;
}
.tags-product a:hover{
	color: #312f2f;
}
.tags-product a{
	font-size: 14px;
	color: #888888;
	text-transform: capitalize;
}
.tags-product{
	margin: 15px 0 10px;
}
.product-name{
	margin: 20px 0 10px;
}
.product-name a:hover{
	color: #666666;
}
.product-name a,
.product-name{
	font-size: 22px;
	color: #312f2f;
	font-weight: 700;
}
.btn-cart i{
	top: 2px;
	margin-right: 10px;
	font-size: 22px;
}
.image .btn-wishlist{
	display: block;
	line-height: 1;
}
.image .btn-wishlist i{
	font-size: 30px;
	color: #000;
}
.product-inner{
    text-align:center;
}
.product-inner.col-xs-8{
    text-align:left;
}
.layout1 .image .btn-wishlist{
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 1;
}
.product-list .actions-link2{
	display: none;
}
.actions-link2 .btn-cart .button:hover{
		background: #1f1f1f !important;
}
.actions-link2 .btn-cart .button i{
	display: none;
}
.actions-link2 .btn-cart .button{
	border: none;
	text-transform: uppercase;
	color: #fff !important;
	font-size: 13px;
		background: #000 !important;
		min-width: 150px;
}
.product-caption h2.product-name{
    display:none;
}
.product-layout:hover .actions-link2{
	opacity: 1;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
	    top: 0;
    *line-height: 400px;
}
.form-group .col-md-4{
padding:0 !important;
}
.actions-link2{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
*	background: rgba(49, 49, 47, 0.9);
	opacity: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	    padding-top: 40%;
}
.more-detail{
    margin-bottom:15px;
}
.btn-quickview{
	color: #fff;
	border: none;
	box-shadow: none;
	background: none;
	font-size: 13px;
	text-transform: uppercase;
	padding: 10px 0
}
.price{
	font-size: 16px;
	color: #000;
	margin: 0;
	font-weight: 900;
}
.price-old{
	font-weight: 400;
	text-decoration: line-through;
	font-size: 14px;
}
.row_items .product-layout:last-child .layout1{
	margin-bottom: 0;
}
.row_items .product-layout .layout1{
	margin-bottom: 50px;
}
.product-list .product-intro .btn-compare,
.product-grid .product-intro{
	display: none;
}
.layout2 .image .actions-link2,
.layout2 .image .btn-wishlist{
	display: none;
}
.layout2{
	float: left;
	width: 100%;
}
.layout2 .product-name a, 
.layout2 .product-name{
	font-size: 13px;
	line-height: 26px;
}
.layout2 .product-name{
	margin-bottom: 10px;
}
.layout2 .product-inner{
	float: left;
	width: 70%;
	padding: 0 20px;
}
.layout2 .image{
	float: left;
	width: 30%;
}
.row_items .product-layout:last-child .layout2{
	margin-bottom: 0;
}
.row_items .product-layout .layout2{
	margin-bottom: 30px;
}
.featuredproduct-module,
.newproductslider,
.most-products-container{
	margin-bottom: 95px;
}
/* testimonial */
.testimonial-module{
	margin-bottom: 95px;
}
.testimonial-content{
	text-align: center;
	padding: 20px 0 0;
}
.testimonial-box{
	font-size: 15px;
	font-weight: 300;
	color: #666666;
	line-height: 24px;
	letter-spacing: .01em;
	margin: 30px 0 40px;
}
.testimonial-author{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	margin: 20px 0 0;
}
.testimonial-images img{
	border-radius: 100%;
}
/* blog */
#blog_home{
	background: #f7f7f7;
	padding: 0 0 90px 0;
	margin: 0 -30px;
	line-height: 24px;
}
.aritcles-content .articles-intro{
	color: #666666;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 20px;
}
.aritcles-content .readmore:hover{
	color: #666;
}
.aritcles-content .readmore{
	font-size: 15px;
	color: #222;
	font-weight: 300;
	margin-bottom: 10px;
	display: inline-block;
}
.aritcles-content .articles-author span{
	color: #312f2f
}
.aritcles-content .articles-author{
	color: #999999;
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
}
.aritcles-content .articles-name:hover{
	color: #666;
}
.aritcles-content .articles-name{
	color: #222222;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 5px;
	display: inline-block;
}
.aritcles-content{
	background: #fff;
	padding: 15px 20px;
}
/* instagram */
#instagram_block_home  .fancybox:hover::before{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
#instagram_block_home  .fancybox::before{
	content: "";
	background: rgba(0,0,0,.2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
#instagram_block_home  .fancybox:hover i{
	opacity: 1;
}
#instagram_block_home  .fancybox i{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	color: #fff;
	opacity: 0;
}
#instagram_block_home  .fancybox{
	position: relative;
}
#instagram_block_home  .module-title h3{
	font-size: 18px;
	color: #666666;
	line-height: 30px;
}
#instagram_block_home  .module-title h2{
	text-transform: none;
	font-size: 20px;
	color: #222222;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 0px;
}
/* banner module */
.banner-module img{
	margin: 0 auto;
}
.banner-module{
	background: #f7f7f7;
	margin: 95px -30px 0;
	padding: 36px 0;
}
/* footer */
footer{
	background: #fff;
	margin: 30px -30px 0;
	border-top:1px solid #dadada;
}
.middle-footer{
	padding: 0px 0 20px;
}
.middle-footer h4{
    font-family: "AkkuratPro-Regular";
    font-size:16px;
    font-weight:bold;
}
.middle-footer a{
    display:inline-block;
    width:100%;
}
.bottom-footer .text_powered a{
	color: #000;
}
.bottom-footer .text_powered{
	color: #312f2f;
	font-size: 13px;
	float: left;
	margin: 0;
}
.bottom-footer .payment-method{
	float: right;
}
.bottom-footer{
	background: #fff;
	padding: 10px 0;
	border-top:1px solid #dadada;
}
footer {
    line-height: 20px;
}
.footer-title{
	font-size: 16px;
	color: #312f2f;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0 0 30px;
	line-height: 24px;
}
.footer-title + ul li{
	list-style: none;
}
.footer-title + ul{
	padding: 0;
	margin: 0;
}
.footer-title + ul li a:hover{
	color: #312f2f
}
.footer-title + ul li a{
	font-size: 14px;
	line-height: 36px;
	color: #999;
	text-transform: capitalize;
}
#back-top i{
	font-size: 18px;
	line-height: 40px;
}
#back-top:hover{
	background: rgba(68, 68, 68, 1);
}
#back-top{
	position: fixed;
	z-index: 99999;
	bottom: 30px;
	right: 30px;
	background: rgba(189, 176, 147, 0.5);
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	display: none;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 0px 1px 1px rgba(255,255,255,.1);
}
/* category module */
.category-module  .module-title h2{
	margin: 0 0 15px 0;
	color: #222222;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: left;
}
.category-module  .category-sub-list{
	padding-left: 20px;
}
.category-module  li:last-child{
	border: none;
}
.category-module  li{
	line-height: 46px;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.category-module  li i{
	position: absolute;
	right: 0;
	font-size: 25px;
	top: 10px;
	cursor: pointer
}
.category-module  li  a.active,
.category-module  li  a.active + i,
.category-module  li  i:hover,
.category-module  li a:hover{
	color: #312f2f;
}
.category-module  li a{
	color: #666666;
	text-transform: uppercase;
	padding: 0;
	
}
/* breadcrumb */
.common-home .breadcrumbs{
	display: none;
}
.breadcrumbs{
	background: #f2f2f2;
	padding: 50px 0;
	margin-bottom: 50px;
	    display: none;
}
.container.layer-category{
    border-top: 1px solid #bcbcbc;
}
.breadcrumb{
	margin: 0;
	background: none;
	text-transform: uppercase;
	padding: 0;
}
.breadcrumb li a:hover,
.breadcrumb li:last-child a{
	color: #312f2f
}
.breadcrumb li a{
	color: #333333;
	font-size: 13px;
}
.category-info .img-thumbnail{
	border: none;
	border-radius: 0;
	padding: 0;
}
.custom-products-row > div{
	margin: 0 -15px;
}
@media(min-width: 992px){
	.custom-products .two-items:nth-child(2n+1),
	.custom-products .three-items:nth-child(3n+1),
	.custom-products .four-items:nth-child(4n+1){
		clear: inherit;
	}
}
.col-md-1.toolbar3.pull-right{
    text-align:right;
}
.toolbar{
	float: left;
	width: 100%;
	margin: 0px 0 0;
	*background: #f7f7f7;
	padding: 8px 0px;
	border-bottom: 1px solid #bcbcbc;
}
.toolbar3 .btn-group{
	/* background: #fff; */
}
.toolbar3{
	padding: 0;
}
.toolbar1{
	padding: 0;
}
.toolbar2,
.toolbar1{
	padding-left: 0;
}
#input-sort,
#input-limit{
	border: 1px solid #e7e7e7;
	border-radius: 0px;
	box-shadow: none;
	height: 34px;
	font-size: 13px;
}
#list-view:hover,
#list-view.selected,
#grid-view:hover,
#grid-view.selected{
	color: #222 !important;
	/* border-color: #312f2f; */
	/* background: #312f2f; */
	
}
#list-view{
	margin-right: 10px;
}
#list-view,
#grid-view{
	border: none;
	border-radius: 0px;
	color: #666;
	background: none;
	line-height: 28px;
	box-shadow: none;
	padding: 0
}
#list-view i,
#grid-view i{
	line-height: 34px;
	font-size: 22px;
}
.pagination{
	margin: 0;
	background: #fff;
}
.pagination > li.active > span, .pagination > .active > a, 
.pagination > .active > a:focus, .pagination > .active > a:hover, 
.pagination > .active > span, .pagination > .active > span:focus, 
.pagination > .active > span:hover, .pagination > li > a:focus, 
.pagination > li > a:hover, .pagination > li > span:focus, 
.pagination > li > span:hover {
    background-color: #312f2f !important;
    color: #fff !important;
    border-color: #312f2f !important;
}
.pagination > li > a, .pagination > li > span{
	border: 1px solid #dedede;
	border-radius: 0 !important;
	background: #fff !important;
	color: #666666 !important;
	font-size: 13px;
	padding: 0 5px;
	margin: 0 5px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0;
}
.toolbar4{	
	margin: 0;
	margin-top: 70px;
	clear: both;
	float: left;
	width: 100%;
}
.toolbar4  .col-sm-6{
	padding: 0;
}
.toolbar4  .text-right{
	margin-top: 0px;
	font-size: 13px;
	color: #6a6a6a;
	background: #fff;
	width: auto;
	float: right;
}
/* product detail */
body[class^="product-product-"] .tags-product a{
	font-size: 16px;
}
/*.zoomContainer {
    top: 0px !important;
    left: 15px !important;
    right: 0px;
    bottom: 0px;
    width: 100% !important;
}
.zoomContainer .zoomLens {
    width: 100px !important;
    height: 100px !important;
}*/
.zoomContainer .zoomWindowContainer .zoomWindow {
    margin-left: 15px;
    border-color: #312f2f !important;
}
body[class^="product-product"] .col-2,
body[class^="product-product"] .col-1{
	margin-bottom: 80px;
}
.col-1 .thumbnails{
}
.col-1 .thumbnail{
	padding: 0;
	border-radius: 0;
	border: none;
	margin: 0;
}
.image-additional-container{
	/* padding: 0 15px; */
	margin: 10px -5px 0;
}
.image-additional-container .active2.thumbnail,
.image-additional-container .thumbnail:hover{
	/* border: 2px solid #3d73b9 */
}
.image-additional-container .thumbnail{
	margin: 0;
	border: none;
	border-radius: 0px;
}
.image-additional.owl-carousel .owl-item {
    padding: 0 5px;
}
.col-2 .product-name{
	margin: 0;
	font-size: 30px;
	color: #312f2f;
	font-weight: 700;
	line-height: 1;
    font-family: "AkkuratPro-Regular";
    margin-bottom:20px;
}
.col-2 .product-name::after {
    content: '';
    position: absolute;
    left: 0%;
    display: inline-block;
    height: 1em;
    width: 30%;
    border-bottom: 1px solid;
    margin-top: 5px;
    right: 0%;
    display:none;
}
.col-2 .product-name + p{
	margin: 15px 0 0;
}
.col-2 .product-name + p a{
	text-transform: capitalize;
}
.col-2 .ratings{
	margin: 25px 0;
}
.col-2 .list-unstyled{
	color: #333333;
}
.col-2 .price-product .new-price{
	margin-right: 20px;
}
.col-2 .price-product .old-price{
	font-size: 18px;
	color: #7e7e7e;
	text-decoration: line-through;
	font-weight: 400;
}
.col-2 .price-product{
	font-size: 20px;
	color: #666666;
	font-weight: 700;
	margin-bottom: 0px;
}
.button i.pe-7s-like {
    font-size: 17px;
    margin-right: 10px;
    top: 2px;
}
.col-2 .ex-text{
	color: #312f2f;
	margin-left: 5px;
}
.col-2 .short-des{
	margin: 25px 0 30px;
	color: #666666;
	line-height: 24px;
	font-size: 15px;
	font-weight: 300;
*	border-top: 1px solid rgba(0,0,0,.07);
	*padding-top: 25px;
}
#input-quantity2, #minus2, #plus2,
#input-quantity, #minus, #plus {
    display: inline-block;
    height: 40px;
    border: none;
    box-shadow: none;
    text-align: center;
    width: 25px;
    font-size: 13px;
    border-radius: 0px;
	border: none;
	background: none;
	padding: 0;
	color: #222222;
}
#input-quantity2,
#input-quantity {
    width: 40px;
}
label[for='input-quantity']{
	float: left;
	line-height: 40px;
	margin-right: 30px;
	color: #363636;
	margin-bottom: 0;
}
#button-cart2 i,
#button-cart i{
	font-size: 17px;
	margin-right: 10px;
	top: 2px;
}
#button-cart2,
#button-cart{
	margin: 20px 0;
	font-size: 15px;
}
.form-group .col-md-4 button{
    margin: 20px 0;
}
#button-cart2:hover,
#button-cart:hover {
    background-color: #312f2f;
}
#button-cart2{
	margin-top: 25px;
}
button.btn-compare span, 
button.btn-wishlist span{
	
} 
button.btn-compare:hover i, 
button.btn-wishlist:hover i{
}
button.btn-compare i, 
button.btn-wishlist i{
	font-size: 16px;
	margin-right: 7px;
}
button.btn-compare, 
button.btn-wishlist {
	background: none !important;
    border: none;
    border-radius: 0px;
    text-align: center;
	margin-bottom: 10px;
	padding: 0;
	line-height: 38px;
	color: #222222 !important;
	font-size: 13px;
	margin-right: 30px;
}
button.btn-compare:hover, 
button.btn-wishlist:hover {
    background: transparent !important;
	color: #222222 !important;
}
#product2.has-option,
#product.has-option{
	*max-height: 300px;
	overflow: auto;
	*border: 1px solid #e1e1e1;
	*padding: 20px;
}
.form-control {
    display: block;
    width: 100%;
    height: 41px;
    padding: 6px 12px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#product + div{
	margin: 20px 0;
}
.quantity-box{
	height: 40px;
	border-radius: 0px;
	width: 100px;
	border: 1px solid #e5e5e5;
	float: left;
	margin-right: 20px;
}
.col-3{
	margin: 0px 0 0; 
}
.col-3 .tab-content{
	max-height: 300px;
	min-height: 100px;
	overflow: auto;
	padding: 0;
	margin-bottom: 60px;
}
.col-3 .nav-tabs{
	float: left;
	margin: 0;
	width: 30%;
	border: none;
	display:none;
}
.col-3 .nav-tabs li:hover a,
.col-3 .nav-tabs li.active a:focus,
.col-3 .nav-tabs li.active a{
	border: none;
	color: #222222;
	border-left: 4px solid #f1ba84;
	background: none;
}
.col-3 .nav-tabs li a{
	color: #666666;
	border: none;
	border-left: 4px solid transparent;
	border-radius: 0;
	margin: 0;
	padding: 15px 0 15px 20px;
	background: #f8f8f8;
}
.col-3 .nav-tabs li{
	display: block;
	float: none;	
	font-size: 15px;
	text-transform: capitalize;
	margin: 0 0 5px 0;
}
.bootstrap-datetimepicker-widget a[data-action]{
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget td span:hover{
	background: none !important;
}
.bootstrap-datetimepicker-widget td span{
	height: 40px !important;
	line-height: 40px !important;
	margin: 0px !important;
}
.alert.alert-success{
	text-align: center;
	font-size: 14px;
	margin: 0;
}
.account-login .well{
	background: none;
	box-shadow: none;
}
#map-canvas{
	min-height: 400px;
	margin: 20px 0;
}
.information-contact form .required{
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    border: none;
	height: auto;
}
.randomproduct-module .module-title h2{
	font-size: 24px;
}
.related-product-container .module-title h2{
	border-top: 1px solid #ededed;
	margin-top: 0;
	padding-top: 90px;
	font-size: 24px;
}
.price-tax{
	display: none;
}
.custom-products .product-layout{
	margin-top: 30px;
}
.product-list .product-inner{
	padding-left: 30px;
}
.product-list .image{
	padding: 0;
}
.product-des{
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	color: #666;
	margin: 15px 0 10px;
	overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media(max-width: 1024px){
	.b-modal,
	.newletter-popup{
		 display: none !important;
	 }
	 .banner-2 .text-content{
		 /* font-size: 90%; */
	 }
	 .banner-2 .text-content h1{
		 /* margin-bottom: 10px; */
	 }
	 .banner-2 .text-content p{
		 /* margin-bottom: 20px; */
	 }	 
}
@media(max-width: 991px){
	.zoomContainer{
		display: none;
	}
	.main-menu{
		 width: 100%;
	 }
	 #cart > button,
	 .search-container{
		 padding: 20px 0;
	 }
}
@media(max-width: 768px){
	.wrapper > .container{
		width: 100%;
	}
	.banner-2 .text-content{
		/* font-size: 70%; */
	}
	.banner-2 .text-content p{
		/* line-height: 20px; */
	}
	#blog_home{
		margin: 0;
	}
	#blog_home > .container .row{
		margin: 0;
	}
	#blog_home > .container{
		width: 100%;
	}
}
@media(max-width: 767px){
	.owl-buttons{
		display: none;
	}
	.middle-footer > div:not(:last-child){
		margin-bottom: 30px;
	}
	.footer-title{
		margin-bottom: 15px;
	}
	#top > .list-unstyled > li:last-child button > i{}
	#top > .list-unstyled > li:last-child button > i{
		border-right: none;
		padding: 0;
	}
	#top > .list-unstyled > li:last-child .dropdown-menu{
		right: 0;
		left: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
	#top > .list-unstyled > li:first-child .dropdown-menu{
		left: 0;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
	#top > .list-unstyled > li:first-child button > i{
		border-right: 1px solid #4e4e4e;
		padding: 0 20px 0 0;
	}
	#top > .list-unstyled > li .dropdown-menu{
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#top > .list-unstyled > li{
		margin: 0 auto;
		float: none !important;
		display: inline-block;
	}
	#top > .list-unstyled,
	#top > .pull-left{
		width: 100%;
		text-align: center;
	}
}
@media(max-width: 640px){
	.bottom-footer .text_powered{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.bottom-footer .payment-method{
		width: 100%;
		text-align: center;
	}
}
@media(max-width: 560px){
	#logo img{
		margin: 0 auto;
	}
	#logo{
		margin: 30px 0 0 0;
		text-align: center;
		position: static;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
	.module-title h2{
		font-size: 25px;
	}
	.banner-2{
		/* min-height: 200px; */
	}
	#frm_subscribe-normal{
		width: 100%;
	}
		.top-area {
    font-family: "NoeText-Book";
    position: absolute;
    font-size: 17px !important;
    color: #312f2f;
    z-index: 999;
    margin-left: 20% !important;
    margin-top: 5% !important;
}
a.register {
    margin-right: 30px !important;
}
.product-layout.product-grid.col-md-3.col-sm-6.col-xs-6.four-items {
    width: 100% !important;
}
}
@media(max-width: 480px){
	.product-list .product-inner{
		padding: 0
	}
	.product-grid,
	.product-list .product-inner,
	.product-list .image{
		width: 100%;
	}
	.col-3 .nav-tabs{
		width: 100%;
		margin-bottom: 20px;
	}
	.col-3 .tab-content{
		padding: 0 20px;
	}
		.top-area {
    font-family: "NoeText-Book";
    position: absolute;
    font-size: 15px !important;
    color: #312f2f;
    z-index: 999;
    margin-left: 14% !important;
    margin-top: 5% !important;
}
a.register {
    margin-right: 0px !important;
}
.product-layout.product-grid.col-md-3.col-sm-6.col-xs-6.four-items {
    width: 100% !important;
}
}

@media only screen and (max-width: 991px) and (min-width: 561px)  {
	.top-area{
		margin-left: 65%;
		margin-top: 0%;
	}
}

@media(max-width: 320px){
	#top{
		padding: 0 15px;
	}
	.search-container{
		width: 100%;
	}
	#search{
		display: none;
		position: static;
		height: 40px;
		width: 100%;
	}
	#search > button{
		top: 25px;
		right: 10px;
	}
	.search-container i{
		color: #fff;
	}
	#search > i,
	.search-container > i{
		display: none;
	}
	.top-area {
    font-family: "NoeText-Book";
    position: absolute;
    font-size: 15px !important;
    color: #312f2f;
    z-index: 999;
    margin-left: 11% !important;
    margin-top: 8% !important;
}
a.register {
    margin-right: 0px !important;
}
.product-layout.product-grid.col-md-3.col-sm-6.col-xs-6.four-items {
    width: 100% !important;
}
}