@charset "UTF-8";
/* ==========================================================================
   $Table of Contents
   ========================================================================== */
/**
 *
 * $Variables
 * 		$Colors
 *		$Fonts
 * $Mixins
 * $Global
 *		$Typography
 * $Animations
 * $Buttons
 * $Main Nav
 *
 */
/* ==========================================================================
   $Variables
   ========================================================================== */
/* $Colors
   ========================================================================== */
/* $Fonts
   ========================================================================== */
/* $Radius
   ========================================================================== */
/* $Ease
   ========================================================================== */
/* ==========================================================================
   $Mixins
   ========================================================================== */
/* ==========================================================================
   $Partials
   ========================================================================== */
/* $Clearfix
   ========================================================================== */
.megam-main-nav-wrap:before, .megam-main-nav-wrap:after {
  content: '';
  display: table;
}
.megam-main-nav-wrap:after {
  clear: both;
}

/* ==========================================================================
   $Global
   ========================================================================== */
html {
  box-sizing: border-box;
}

/**
 * 1. Pixels in responsive design is weird, right?
 * 	  I've had to re-adjust my mobile/desktop sizes anyways.
 * 	  Because EM's and REM's don't scale to my liking. ¯\_(ツ)_/¯
 * 	  Browser zooming ensures that it scales on zoom in/out.
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

:focus {
  /*box-shadow: 0 0 6px 1px rgba(91, 196, 113, 0.75);*/
  outline: none;
}

.no-boxshadow :focus {
  outline: 1px auto #5bc471;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
   $Animations
   ========================================================================== */
@-webkit-keyframes fly-in--up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fly-in--up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* ==========================================================================
   $Main Nav
   ========================================================================== */
.megam-main-nav-wrap input, .megam-main-nav-wrap textarea {
  width: 100%;
}

.is-hidden {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateX(140%);
          transform: translateX(140%);
}

.megam-main-nav-wrap {
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
  overflow-y: auto;
  /*line-height: 1.6;*/
  z-index: 999999;
  padding:0;
}

.megam-main-nav,
.megam-main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height:100%;
}

.megam-main-nav ul {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.7);
}

.js .megam-main-nav {
  display: none;
}

.megam-main-nav {
  background-color: rgba(0,0,0,0.9);
  border-radius: 5px;
  -webkit-filter: drop-shadow(0 0 6px 1px black);
          filter: drop-shadow(0 0 6px 1px black);
  color: #fff;
  position: relative;
}
.megam-main-nav:before {
  border: 8px solid transparent;
  border-bottom-color: rgba(0,0,0,0.9);
  content: '';
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100%;
  height: 0;
  width: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.megam-main-nav.active:before {
  -webkit-animation: fly-in--up 0.26s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s forwards;
          animation: fly-in--up 0.26s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s forwards;
}

.megam-main-nav a {
  display: block;
/*  padding: 12px 24px;*/
  padding: 10px 0px;
  text-decoration: none;
  color: #fff;
}

.megam-main-nav a:hover {
  /*color: #999;*/
}

/* 2nd Level Links
   ========================================================================== */
.megam-main-dropdown {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.moves-in > li:not(.megam-subnav-col) > a {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: absolute;
  opacity: 0;
}

.nav-in {
  -webkit-animation: fly-in--up 0.24s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: fly-in--up 0.24s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.nav-out {
  -webkit-animation: fly-in--up 0.24s cubic-bezier(0.165, 0.84, 0.44, 1) reverse;
          animation: fly-in--up 0.24s cubic-bezier(0.165, 0.84, 0.44, 1) reverse;
}

.subnav,
.subnav a {
  -webkit-transition: all 0.24s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.24s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.subnav a {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.megam-has-subnav-link {
  -webkit-transition: all 0.24s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.24s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.go-back {
  color: #fff;
  background-color: black;
}

.megam-subnav-col {
  border-top: 1px solid rgba(0,0,0,0.9);
  padding-top: 14px;
}

.promo-img {
  display: block;
  margin: auto;
}

.promo-body {
  padding: 12px 30px 12px;
}

.promo-body a {
  display: inline-block;
  padding: 0;
}

.megam-main-nav-wrap.fixed.top {
    position: fixed;
    top: 0;
}

.megam-main-nav-wrap.static.top {
    position: relative;
    top: 0;
}

.megam-main-nav-wrap.fixed.bottom {
    position: fixed;
    bottom: 0;
}

.megam-main-nav-wrap.static.bottom {
    position: absolute;
    bottom: 0;

}

.megam-main-nav-wrap.static.bottom .megam-main-dropdown, .megam-main-nav-wrap.fixed.bottom .megam-main-dropdown {
    bottom: 0;
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
}

.megam-main-nav-wrap.static.bottom .hover .megam-main-dropdown, .megam-main-nav-wrap.fixed.bottom .hover .megam-main-dropdown {
    bottom: 0;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

@media (min-width: 990px) {
  .megam-main-nav-wrap {
    overflow: visible;
    width: 100%;
  }

  .megam-main-nav-trigger {
    display: none;
  }

  .js .megam-main-nav {
    display: block;
  }

  .megam-main-nav {
    background-color: transparent;
    width: 960px;
  }
  .megam-main-nav:before {
    content: none;
  }

  .megam-main-nav > li {
    float: left;
    width: 20%;
  }

  .megam-main-nav > li > a {
    color: #ffffff;
    text-align: center;
  }

  .megam-main-dropdown {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    display: table;
    opacity: 0;
    position: absolute;
    right: 0;
    left: 0;
    -webkit-transition: all 0.24s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.24s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
    visibility: hidden;
  }

  .megam-main-dropdown > li {
    display: table-cell;
    vertical-align: top;
  }

  .hover > .megam-has-subnav-link {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
  }

  .hover .megam-main-dropdown {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
    /*margin-top: 12px;*/
  }

  .nav-col {
    border-right: 1px solid #167d5f;
    margin: 12px 0;
    padding: 12px 24px;
    width: 21%;
  }

  .nav-col .megam-has-subnav + .megam-has-subnav {
    margin-top: 20px;
  }

  .subnav-header {
    font-weight: 700;
    border-bottom: 1px solid;
    margin-bottom: 6px;
  }
  .subnav-header:after {
    content: none;
  }

  .subnav a {
    padding: 3px 0;
    vertical-align: top;
  }

  .go-back,
  .view-all {
    display: none !important;
  }

  .megam-subnav-col {
    border: none;
  }
}

.no-content{

}