.list .cus_img_size{
    height: 140px;
}
.normal_custom_font{
    font-weight: normal;
}
.grid .cus_img_size{
    width: 100%;
    height: 397px;
}
.grid .product-name{
    text-align: inherit !important;
}
.list .product .product-image.custom_pro_list_img_bucket{
    width: 32%;
    border-right: 1px solid #f6f6f6;
}
.cus_header_top{
    padding: 0 10px;
    border-left: thin solid #e0e0e0;
}
.cus_header_top.download-app{
    border-right: thin solid #e0e0e0;
}
.list .product .product-desc.custom_pro_list_desc_bucket{
    width:66%;
}
.logo a img{
    width: 65%;
}
#product-search{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.cus_btn_search{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.cus_mega_li{
    list-style: none;
}
.cus_mega_ul{
    text-align: center;
    margin-right: 16%;
}
.menu-list{
    width: 90%;
}
.cus_cat_carousl{
    padding-left: 7px;
}
.cus_cat_carousl li{
    list-style: none;
    width: 124px;
    float: left;
    padding: 0 5px;
}
.cus_cat_carousl li a {
    display: block;
    text-align: center;
    background-color: #fbfbfb;
    border: thin solid #e0e0e0;
    padding: 15px 0;
}
.cus_cat_carousl li a img{
    width: 60px;
}
.h2heading_landing_page{
    font-size: 38px;
    text-transform: capitalize;
}
.product.custom_product_tab{
    background: none;
    border: none;
    min-height: 300px;
    box-shadow: none;
    -webkit-box-shadow:none;
}
.featured-products .product_name .blackcolor{
    color: #222;
}
.featured-products .product_name.landing_pro_name {
    height: 3.142857rem !important;
}
.custom_product_pricttab .was{
    font-size: larger;
    font-weight: 500;
}
.is_souq_price_color{
    color: #006fcc;
}
.custom_product_pricttab .is_price_tab{
    font-size: larger;
}

.featured-products .product_price.custom_product_pricttab{
    float: none;
}
.featured-products .product img.featured_img{
    width: 204px;
    height: 305px;
    max-height: 305px;
}

.image_overlay.cus_overlay{
    height: 77%;
}
.featured-products .product{
    padding:0px;
}
.new_arrival{
    height: 440px;
}
.featured-products .stats-container.cus_stats_container{
    position: inherit;
    background: none;
    padding:0;
}
.featured-products .btn.add-to-cart.cus_add_to_cart{
    top:180px;
}
.promobanner .text.bottom-center{
    text-align: center;
}
.promobanner .text.bottom-center .banner-button .btn.btn-default.btn-promo-banner{
    margin-top: -25%;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
}
.zoom1{
    height: 630px;
}
.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    vertical-align: middle;
}

.img-wrapper img:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
.mb-20{
    margin-bottom: 20px;
}
#cart-table{
    overflow: hidden;
}
#cart-table tbody tr td{
    text-align: center;
    border:1px solid #eaeaea;
}

.footer-bottom ul{
    display: none;
}
.cus_pro_listing{
    /*    background: none;
        border: none;*/
}
.product_listing_result{
    /*border:1px solid #d9d9d9;*/
}

.list .pro_list_img{
    padding: 0;
    display: table-cell;
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
}
.list .pro_list_img img{
    height: auto !important;
}
.list .product-name{
    color: #222;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.list .cus_pro_details{
    min-height: 50px;
}
/*.list .product-name.cus_height{
    margin-bottom: 0px;
    float: left;
}*/
.list .product-name.cus_height{
    margin-bottom: 0px;

}
.grid{
    /*  width: 194px ;*/
}
.grid_product_quick{
    background: #cbcbcb !important;
    cursor: pointer;
    opacity: 1;
}
.grid .product-name.cus_height {
    /*//height: 5.142857rem;*/
    /*height: 1.142857rem;*/
    color: #222;
    font-size: 14px;
    font-weight: 400;
}
.list .free_shipment{
    float: right;
    font-size: medium;
    font-weight: 700;
}

.grid .free_shipment{
    font-weight: 700;
    position: absolute;
    top: 93%;
    font-size: small;
}
.list .product-ration-king{
    float: left;
    width:100%;
}
.grid .product-ration-king{
    float: left;
}
.grid .custom_pro_list_desc_bucket{
   /* padding: 10px;*/
    text-align: left;
}
.product:hover{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.list .product-price.cus_height{
    font-size: large;
    font-weight: 700;
    float: left;
    width: 100%;
}

.grid .product{
    margin-bottom:13px;
}

.list .product-rating{
    width: 22%;
    float: right;
}
.grid .product-rating{
    /*margin-top: 5px;*/
    display: none;
}
#results .row:last-child .grid .product{
    margin-bottom: none;
}
.list button.btn.btn-info.add-to-wishlist{
    float: right;
    margin-left: 5px;
}

.list .btn.btn-theme.add-to-cart{
    width: 20%;
    float: right;
    margin-left: 6px;
}
.grid .btn.btn-theme.add-to-cart{
    width: 75%;
    float: left;
    display: none;
}
.grid .btn.btn-info.add-to-wishlist{
    float: right;
    margin-top: 4px;
    display: none;
}

.product .product-bottom{
    border-top: 0;
}

span.input-group-addon.pointer.btn-minus{
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
}
span.input-group-addon.pointer.btn-plus{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
button.btn.btn-theme.add-to-cart{
    border-radius: 5px;
}
button.btn.btn-info.add-to-wishlist{
    border-radius: 5px;
}
.grid{
    float: left;
    font-size: larger;
    font-weight: 700;
}
.product-desc{
    height: 150px !important;
}
.product-price{
    font-size: larger;
    font-weight: 700;
    top:90%;
}
.list .cus_pro_details{
    float: left;
    width: 100%;
}
.grid .cus_pro_details{
    display: none;
}

.nopadding{
    padding: 0 !important;
}
.modal_custom_padding{
    padding: 0px 15px 0px 15px;
}
.modal_promotion p{
    padding: 0px 15px 0px 15px;
}
.modal_promotion_price{
    padding: 0px 15px 0px 15px;
}
.cus_btn_prom{
    border-radius: 2px;
}
#itembasepromotion{
    display: none;
}

.list .buy1get1free{
    position: absolute;
    width: 13%;
}
.grid .buy1get1free{
    position: absolute;
    width: 48%;
}

/*Quick view in landing page */
.featured-products .btn.quickview.cus_add_to_cart{
    border: medium none;
    /*  border-radius: 5px;*/
    top: 30%;
    cursor: pointer;
    background: #0a0a0a;
    color: #ffffff;
    opacity: 1;
    font-weight: 200;

}
.featured-products .btn.quickview.cus_add_to_cart:hover {
    /*background: #2196f3 !important;*/
    color: #ffffff !important;
    transition: ease-in-out all .3s;
}
.label-product {
    background: #312f2f;
    position: absolute;
    top: 2px;
    left: 30px;
    padding: 5px 10px;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
}
.custom_popupbody{
    min-height: 415px;
}
.image_bucket{
    width: 260px;
}

.custom_area1{
    /*min-height: 530px;*/
    height: 398px;;
    width: 35%;
    float: left;
}
.custom_area2{
    /*min-height: 530px;*/
    float: left;
    width: 63%;

}

.custom_area3{
    width: 25%;
    float: left;
}
.link_viewfull_pro{
    color: rgb(0, 111, 204);
    font-weight: 700;
}
.cus_quick_addtocart_btn{
    margin: 0 0 0 8px;
    border-radius: 4px;
    width: 255px;
}
.unit-labels.leftInStock{
    margin-left: 10px;
    margin-top: 20px;
}
.price_sec_contaire{
    margin: 0 0 0 10px;
}
.txtcolor-alert{
    color: #FF0000;
}
.save_amount_sec{
}
.save_amount_sec .was{
    text-decoration: line-through;
    color: #aeaeae;
    font-weight: 400;
    line-height: 2.1428571429rem;
}
.free-shipping-cont{
    padding-right: 5%;
}
.socialIconsWrapper ul a{
    text-decoration: none;
}
.special_inc_textarea{
    resize: none;
}
.opposite-direction.band.socialIconsWrapper{
    bottom: 0;
    left: 8%;
    position: absolute;
}
.fa-chevron-down{
    color: #cdcdcd;
}
.review_clrlink{
    color: #006fcc;
}
.atrributes_li{
    list-style: outside none none;
    display: inline;
    margin: 5px;"
}
.attribute_btn{
    border-radius: 3px;
    font-weight: 600;
    color: #ffffff;
    background: rgb(0, 111, 204);
}
.mrgin-left-2{
    margin-left: 2px;
}
.description_sec{
}
.border-right{
    border-right: 0.0714286rem solid #f1f1f1;
}
.price_sec_contaire{
    color: rgb(0, 111, 204);
    font-weight: 700;
}

.mrgin-left-10{
    margin: 0 0 0 10px;
}
.social_icons_list{
    /*padding-right: 25%;*/
    text-align: center;
}
#facebook_share_btn{
    font-size: 2.285714rem;
    color: #45629E;
    margin-right: 6px;
}

#twitter_share_btn{
    color: #3C83AF;
    font-size: 2.285714rem;
    margin-right: 6px;
}
#google_share_btn{
    font-size: 2.285714rem;
    color: #D43F2D;
}
/*End of Quick view in landing page */

.font-size-large{
    font-size: large;
}
.cus-margin-top-bottom-0{
    margin-top: 0;
    margin-bottom: 0;
}
.custom_panel-heading{
    background-color:#ffffff !important;
    border-color: #ffffff !important;
    padding-bottom: 0;
}
.custom_panel-heading h1{
    font-size: 2.285714rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ratio_star_heading{
    font-size: medium;

}
.custom_inner_proviewsection{
    padding-top: 0;
}
.product_view_pricetag{
    color: #006FCC;
}
.product_view_pricetag span{
    font-size: large;
}

.curso_hand{
    cursor: pointer;
}

/* Start of Ribbon*/
.ribbon_parent {
    position: relative;
}
.ribbon {
    position: absolute;
    left: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 9px;
    /*font-weight: bold;*/
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#F70505 0%, #8F0808 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; left: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #8F0808;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #8F0808;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #8F0808;
}
/* End of Ribbon*/


/* Only for desktop/laptop screen */
@media only screen and (min-width: 992px) {
    .custom_block_width{
        width: 20%;
    }
    .cus_sizechart_modal_width{
        width: 720px;
    }




}



/* Only for the mobile screen*/
@media only screen and (max-device-width: 599px) {
    .list .product-price.cus_height{
        text-align: center;
        height: initial;
    }
    .cus_stats_container{
        text-align: center !important;
        width: 100% !important;
    }
    .list .cus_pro_details{
        text-align: center;
    }
    .list .product-rating{
        width: 100%;
    }
    .list .btn.btn-theme.add-to-cart{
        width: 83%;
    }
    .zoom1{
        height: auto;
    }
    .grid{
        width: 100%;
    }
    .grid .cus_img_size{
        height: 100% !important;
    }
    .grid .product-name.cus_height{
        text-align: center !important;
        /* height: 1.142857rem;*/
    }
    .grid .free_shipment{
        left: 40%;
        top: 95%;
    }
    .grid .product-price{
        float: none;
        text-align: center;
    }
    .grid .product-ration-king{
        text-align: center !important;
        float: none;
    }
    .product .product-bottom{
        margin-top: 0px;
        padding-top: 0px;
    }


    /* For the mobile popup */
    .custom_area2{
        float: none;
        width: 100%;
    }
    .custom_area2 .price_sec{
        text-align: center;
        margin-top: 5%;
    }
    .custom_area1{
        height: auto;
        width: 100%;
        float: none;
    }
    .custom_area1 .image_bucket{
        width: 100%;
    }
    .custom_area1 .socialIconsWrapper{
        display: none;
    }

    .new_arrival.mobile_none{
        display: none;
    }
    .cart_adjustment{
        width: 100%;
    }
    .custom_area2 .cart_mainarea{
        text-align: center;
        float: none !important;
    }

}

.page-contents{
    background: none;
    padding: 0px;
}
