<p>
    Congratulations!</p><p>
    You have Received an Order, which is attached for your Consideration.
    To Further Manager you Order, Visit {site_link} to manage your orders.</p><p>
    Best regards,
    <br>
    Enso Ecommerce Department</p>