<h3>{logo}</h3><h4>Welcome to Cutsandfits.com</h4><p>
    Hello Dear User,</p><p>
    You are successfully subscribed with email: ({email}).</p><p>
    Best regards,
    <br>
    {site_name}
    <br>
    {site_link}</p>